In [1]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 12 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 2s (5,261 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 123934 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [36]:
import pandas as pd #dataframe 이용 -> 데이터 분석 및 의미도출할 때 사용
import numpy as np # 수학적 계산을 위해 사용됨
import matplotlib.pyplot as plt #for 시각화

In [101]:
df = pd.DataFrame({'col one' : [100,200], 'col two' : [300, 400]})
df

   col one  col two
0      100      300
1      200      400

In [5]:
pd.DataFrame(np.random.rand(4, 8))

,0,1,2,3,4,5,6,7
0,0.418956,0.889069,0.028128,0.793934,0.367556,0.048390,0.209984,0.745326
1,0.510828,0.679617,0.393252,0.954303,0.860972,0.219856,0.140959,0.901834
2,0.645601,0.357248,0.019532,0.593122,0.294569,0.516165,0.339848,0.096924
3,0.051984,0.139583,0.139494,0.503989,0.614893,0.852233,0.030047,0.860357

In [7]:
pd.DataFrame(np.random.rand(4, 8), columns = list('가나다라마바사아'))

,가,나,다,라,마,바,사,아
0,0.177533,0.561573,0.250490,0.029513,0.590748,0.425100,0.605173,0.156352
1,0.760881,0.224524,0.259726,0.544849,0.170738,0.440376,0.345250,0.834096
2,0.806287,0.605893,0.292540,0.599457,0.641112,0.062059,0.583921,0.536482
3,0.130980,0.427464,0.044067,0.664926,0.719803,0.489607,0.294356,0.959512

In [42]:
df = df.rename({'col one':'col_one', 'col two':'col_two'}, axis = 'columns')
df

   col_one  col_two
0      100      300
1      200      400

In [22]:
df.columns = df.columns.str.replace(' ', '_')
df

   col_one  col_two
0      100      300
1      200      400

In [13]:
df.columns = ['col_one', 'col_two']
df

   col_one  col_two
0      100      300
1      200      400

In [56]:
from google.colab import files
uploaded = files.upload()

Saving 2014년 졸음운전 교통사고.xlsx to 2014년 졸음운전 교통사고.xlsx

In [102]:
sl1 = pd.read_excel('2014년 졸음운전 교통사고.xlsx')

In [103]:
sl1

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329

In [104]:
# (데이터의 갯수, 컬럼의 갯수) 확인
print(sl1.shape)

(12, 4)

In [105]:
# 데이터의 특징을 알 수 있다. 
# 컬럼명, row와 columns의 갯수, 데이터 타입, 결측치 갯수 ... 등

# RangeIndex: row의 갯수
# Data columns: columns의 갯수

# 결측치 확인 법: Non-Null Count 확인.
# 12 non-null 의 의미: 결측값이 없다.
# 예를 들어, 결측값이 3개 존재한다면 9 non-null 로 확인이 되었을 것.

sl1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      12 non-null     object
 1   사고(건)   12 non-null     int64
 2   사망(명)   12 non-null     int64
 3   부상(명)   12 non-null     int64
dtypes: int64(3), object(1)
memory usage: 512.0+ bytes

In [106]:
sl1.describe()

            사고(건)      사망(명)       부상(명)
count   12.000000  12.000000   12.000000
mean   202.166667  10.833333  389.916667
std     27.498209   4.365845   60.657696
min    145.000000   3.000000  268.000000
25%    181.000000   8.500000  355.250000
50%    209.500000  12.000000  389.000000
75%    222.750000  14.000000  435.000000
max    233.000000  17.000000  474.000000

In [107]:
# 중복 데이터의 갯수 알아보기.
sl1.duplicated().sum()

0

In [108]:
# 중복데이터를 만들기 위해서 임의로 데이터를 추가.
# append 이용시
new_data = {
    '구분' : '2014년8월',
    '사고(건)' : 222,
  	'사망(명)' : 9,
    '부상(명)' : 447
}

sl1 = sl1.append(new_data, ignore_index = True)
sl1

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329
12   2014년8월    222      9    447

In [109]:
# loc 이용
new_data2 = ['2014년4월', 182, 4, 360]

sl1.loc[len(sl1)] = new_data2
sl1

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329
12   2014년8월    222      9    447
13   2014년4월    182      4    360

In [110]:
# 중복값 재확인
sl1.duplicated().sum()

2

In [111]:
# 중복값 제거 후
sl1 = sl1.drop_duplicates()

# 중복값이 제거된 것을 확인
sl1.duplicated().sum()

# 중복값 제거 후, index가 뒤죽박죽이 되었다면 재정렬해주기
# drop = True 옵션 적용 시, 기존 인덱스를 버리고 재배열 한다.
sl1 = sl1.reset_index(drop = True)

In [112]:
sl1

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329

In [82]:
# Feature Engineering
# 기존의 데이터를 이용하여 의미있는 새로운 데이터를 만들어내는 것

# 새로운 데이터프레임 추가
from google.colab import files
uploaded = files.upload()

Saving 2015년 졸음운전 교통사고.xlsx to 2015년 졸음운전 교통사고.xlsx

In [113]:
sl2 = pd.read_excel('2015년 졸음운전 교통사고.xlsx')
sl2

          구분  사고(건)  사망(명)  부상(명)
0    2015년1월    205      8    375
1    2015년2월    175      8    375
2    2015년3월    237      4    492
3    2015년4월    227     10    486
4    2015년5월    231      9    504
5    2015년6월    207      8    401
6    2015년7월    273      7    556
7    2015년8월    268     19    534
8    2015년9월    252     10    501
9   2015년10월    214     14    475
10  2015년11월    199      3    398
11  2015년12월    213      8    428

In [114]:
# 두 데이터프레임을 합치기 전, 몇 년도 사고인지 구분이 가능한 array 생성하기
sl_2014 = np.repeat(2014, len(sl1))
sl_2014

array([2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014,
       2014])

In [115]:
# np.repeat(인수1, 인수2)
sl_2015 = np.repeat(2015, len(sl2))
sl_2015

array([2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015,
       2015])

In [117]:
# 위에서 만든 array를 기존 데이터 프레임에 추가하기
sl1['년도'] = sl_2014
sl2['년도'] = sl_2015

# 새로운 컬럼 및 데이터가 추가 되었는지 확인하기.
sl1.columns

Index(['구분', '사고(건)', '사망(명)', '부상(명)', '년도'], dtype='object')

In [118]:
# 두 데이터프레임의 columns 수가 동일한지 확인
set(sl1.columns) == set(sl2.columns)

True

In [119]:
sl = sl1.append(sl2, ignore_index = True)
print(sl.shape)

(24, 5)

In [120]:
sl

          구분  사고(건)  사망(명)  부상(명)    년도
0    2014년1월    169      7    347  2014
1    2014년2월    145      3    268  2014
2    2014년3월    206     12    358  2014
3    2014년4월    182      4    360  2014
4    2014년5월    218     17    474  2014
5    2014년6월    233     13    457  2014
6    2014년7월    229     14    431  2014
7    2014년8월    222      9    447  2014
8    2014년9월    225     15    430  2014
9   2014년10월    210     14    392  2014
10  2014년11월    209     10    386  2014
11  2014년12월    178     12    329  2014
12   2015년1월    205      8    375  2015
13   2015년2월    175      8    375  2015
14   2015년3월    237      4    492  2015
15   2015년4월    227     10    486  2015
16   2015년5월    231      9    504  2015
17   2015년6월    207      8    401  2015
18   2015년7월    273      7    556  2015
19   2015년8월    268     19    534  2015
20   2015년9월    252     10    501  2015
21  2015년10월    214     14    475  2015
22  2015년11월    199      3    398  2015
23  2015년12월    213      8    428  2015

In [128]:
# index = False 로 지정해야 첫 번째 컬럼이 인덱스로 지정이 된다.
# 그런데 어디에 저장이 되나요?
sl.to_csv('2014년_2015년_졸음운전.csv', index = False)

In [129]:
from google.colab import files
uploaded = files.upload()

Saving 2014년_2015년_졸음운전.csv to 2014년_2015년_졸음운전.csv

In [132]:
sleep = pd.read_csv('2014년_2015년_졸음운전.csv')
sleep

          구분  사고(건)  사망(명)  부상(명)    년도
0    2014년1월    169      7    347  2014
1    2014년2월    145      3    268  2014
2    2014년3월    206     12    358  2014
3    2014년4월    182      4    360  2014
4    2014년5월    218     17    474  2014
5    2014년6월    233     13    457  2014
6    2014년7월    229     14    431  2014
7    2014년8월    222      9    447  2014
8    2014년9월    225     15    430  2014
9   2014년10월    210     14    392  2014
10  2014년11월    209     10    386  2014
11  2014년12월    178     12    329  2014
12   2015년1월    205      8    375  2015
13   2015년2월    175      8    375  2015
14   2015년3월    237      4    492  2015
15   2015년4월    227     10    486  2015
16   2015년5월    231      9    504  2015
17   2015년6월    207      8    401  2015
18   2015년7월    273      7    556  2015
19   2015년8월    268     19    534  2015
20   2015년9월    252     10    501  2015
21  2015년10월    214     14    475  2015
22  2015년11월    199      3    398  2015
23  2015년12월    213      8    428  2015

In [135]:
sleep.set_index('구분', drop=True)
sleep

          구분  사고(건)  사망(명)  부상(명)    년도
0    2014년1월    169      7    347  2014
1    2014년2월    145      3    268  2014
2    2014년3월    206     12    358  2014
3    2014년4월    182      4    360  2014
4    2014년5월    218     17    474  2014
5    2014년6월    233     13    457  2014
6    2014년7월    229     14    431  2014
7    2014년8월    222      9    447  2014
8    2014년9월    225     15    430  2014
9   2014년10월    210     14    392  2014
10  2014년11월    209     10    386  2014
11  2014년12월    178     12    329  2014
12   2015년1월    205      8    375  2015
13   2015년2월    175      8    375  2015
14   2015년3월    237      4    492  2015
15   2015년4월    227     10    486  2015
16   2015년5월    231      9    504  2015
17   2015년6월    207      8    401  2015
18   2015년7월    273      7    556  2015
19   2015년8월    268     19    534  2015
20   2015년9월    252     10    501  2015
21  2015년10월    214     14    475  2015
22  2015년11월    199      3    398  2015
23  2015년12월    213      8    428  2015

In [136]:
sleep.style.hide_index()
sleep

          구분  사고(건)  사망(명)  부상(명)    년도
0    2014년1월    169      7    347  2014
1    2014년2월    145      3    268  2014
2    2014년3월    206     12    358  2014
3    2014년4월    182      4    360  2014
4    2014년5월    218     17    474  2014
5    2014년6월    233     13    457  2014
6    2014년7월    229     14    431  2014
7    2014년8월    222      9    447  2014
8    2014년9월    225     15    430  2014
9   2014년10월    210     14    392  2014
10  2014년11월    209     10    386  2014
11  2014년12월    178     12    329  2014
12   2015년1월    205      8    375  2015
13   2015년2월    175      8    375  2015
14   2015년3월    237      4    492  2015
15   2015년4월    227     10    486  2015
16   2015년5월    231      9    504  2015
17   2015년6월    207      8    401  2015
18   2015년7월    273      7    556  2015
19   2015년8월    268     19    534  2015
20   2015년9월    252     10    501  2015
21  2015년10월    214     14    475  2015
22  2015년11월    199      3    398  2015
23  2015년12월    213      8    428  2015